.Header {
    height: 60px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(12, 70, 94);
  }
  
  .Header h1 {
    margin: auto;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 18pt;
  }
  
  .Header h1 a {
    text-decoration: none;
  }
  
  .Header a {
    color: rgb(246, 125, 72);
  }
  
  @media screen and (min-width: 450px) {
    .Header {
      align-items: baseline;
    }
    .Header h1 {
      font-size: 22pt;
    }
  }